---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}
<br>
<iframe src="./assets/files/Credit.pdf" width="150%" height="600px">
    This browser does not support PDFs. Please download the PDF to view it: 
    <a href="{{ site.baseurl }}{{ page.file_document_path }}">Download PDF</a>.
</iframe>